<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" ,initial-scale="1.0">
    <title>开房</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="css/me.css">
</head>
<body>
<nav class="ui inverted attached segment">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <div class="menu">
                <a href="/user/login/out" class="ui teal item">注销</a>
            </div>
        </div>
    </div>
</nav>

<div class="m-padded-tb-large m-container-small">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左-->
            <div class="five wide column">
                <h2><a href="#" th:href="@{/room/list}" class="item m-mobile "><i class="home icon"></i>客房列表</a></h2>
                <br>
                <h2><a href="#" th:href="@{/customer/list}" class="item m-mobile "><i class="home icon"></i>顾客查询</a>
                </h2><br>
                <h2><a href="#" th:href="@{/book/list}" class="item m-mobile "><i class="home icon"></i>订单查询</a></h2>
                <br>
                <h2><a href="#" th:href="@{/book/add}" class="item m-mobile "><i class="home icon"></i>开房</a></h2><br>
            </div>
            <!--右-->

            <div class="eleven wide column">
                <div class="ui teal segment">
                    <h2><i class="home icon"></i>开房</h2>
                    <div class="m-padded-tb-large m-container">
                        <div class="ui container">
                            <form action="#" method="post" th:action="@{/book/add}" class="ui  form">
                                <div class="required field">
                                    <div class="ui left labeled action input">
                                        <label class="ui compact teal basic label"> 顾客姓名</label>
                                        <div class="ui fluid selection dropdown">
                                            <input type="hidden" name="customerID">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">顾客姓名</div>
                                            <div class="menu">
                                                <div th:each="customer : ${customers}" class="item" data-value="1"
                                                     th:data-value="${customer.ID}" th:text="${customer.Name}">wwj
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui left labeled action input">
                                        <label class="ui compact teal basic label"> 房间号</label>
                                        <div class="ui fluid selection dropdown">
                                            <input type="hidden" name="roomID">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">房间号</div>
                                            <div class="menu">
                                                <div th:each="room : ${rooms}" class="item" data-value="1"
                                                     th:data-value="${room.ID}" th:text="${room.RoomName}">101
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui left labeled input">
                                        <label class="ui teal basic label">持续时间(h/小时)</label>
                                        <input type="text" name="last" placeholder="持续时间(h/小时)">
                                    </div>
                                </div>

                                <div class="ui right aligned container">
                                    <button class="ui  teal submit button">提交</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</body>
</html>