<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>客房类型新增</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="css/me.css">
</head>
<body>
<nav class="ui inverted attached segment">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <!--            <p2 class="ui teal header">欢迎你</p2>-->
            <!--            <p2 class="ui teal header" text="linweibin" th:text="${session.login_user.username}">林伟彬</p2>-->
            <div class="menu">
                <a href="/user/login/out" class="ui teal item">注销</a>
            </div>
        </div>
    </div>
</nav>

<div class="m-padded-tb-large m-container-small">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左-->
            <div class="four wide column">
                <h2><a href="#" th:href="@{/room/list}" class="item m-mobile "><i class="home icon"></i>客房列表</a></h2>
                <br>
                <h2><a href="#" th:href="@{/customer/list}" class="item m-mobile "><i class="home icon"></i>会员列表</a>
                </h2><br>
                <h2><a href="#" th:href="@{/book/list}" class="item m-mobile "><i class="home icon"></i>房间使用记录</a></h2>
                <br>
                <h2><a href="#" th:href="@{/buy/list}" class="item m-mobile"><i class="home icon"></i>消费记录</a></h2><br>
            </div>
            <!--右-->

            <div class="eleven wide column">
                <div class="ui teal segment">
                    <h2><i class="home icon"></i>客房类型新增</h2>
                    <div class="m-padded-tb-large m-container">
                        <div class="ui container">
                            <form action="#" method="post" th:action="@{/roomType/add}" class="ui  form">
                                <div class="required field">
                                    <div class="ui left labeled input">
                                        <label class="ui teal basic label">房间类型名</label>
                                        <input type="text" name="typeName" placeholder="房间类型名">
                                    </div>
                                </div>
                                <div class="ui right aligned container">
                                    <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                                    <button class="ui  teal submit button">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</body>
</html>