<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>客房列表</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="css/me.css">
</head>
<body>
<nav class="ui inverted attached segment">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <div class="menu">
                <a href="/user/login/out" class="ui teal item">注销</a>
            </div>
        </div>
    </div>
</nav>

<div class="m-padded-tb-large m-container-small">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左-->
            <div class="four wide column">
                <h2><a href="#" th:href="@{/room/list}" class="item m-mobile "><i class="home icon"></i>客房列表</a></h2>
                <br>
                <h2><a href="#" th:href="@{/customer/list}" class="item m-mobile "><i class="home icon"></i>会员列表</a>
                </h2><br>
                <h2><a href="#" th:href="@{/book/list}" class="item m-mobile "><i class="home icon"></i>房间使用记录</a></h2>
                <br>
                <h2><a href="#" th:href="@{/buy/list}" class="item m-mobile"><i class="home icon"></i>消费记录</a></h2><br>
            </div>
            <!--右-->

            <div class="eleven wide column">
                <div class="ui teal segment">
                    <h2><i class="home icon"></i>客房列表</h2>
                    <form name="search" action="#" th:action="@{/room/list}" method="post">
                        <a href="#" th:href="@{/room/add}" class="ui  right floated teal basic button">新增房间</a>
                        <a href="#" th:href="@{/roomType/add}" class="ui  right floated teal basic button">新增房间类型</a>
                        <div class="ui buttons">
                            <a href="#" th:href="@{/room/list}" class="ui  right floated teal basic button">全部</a>
                            <a href="#" th:href="@{/empty_room/list}"
                               class="ui  right floated teal basic button">空闲</a>
                            <a href="#" th:href="@{/used_room/list}"
                               class="ui  right floated teal basic button">使用中</a>
                        </div>
                    </form>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(msg)}" th:text="${msg}"></div>
                    <div class="ui teal segment" th:each="room : ${empty_rooms}">
                        <div class="ui stackable grid">
                            <h4>房间号:</h4>
                            <p th:text="${room.RoomName}">1</p>
                        </div>
                        <div class="ui stackable grid">
                            <h4>房间类型:</h4>
                            <p th:text="${room.Type}">1</p>
                        </div>
                        <div class="ui stackable grid">
                            <h4>房间价格:</h4>
                            <p th:text="${room.Price}">1</p>
                        </div>
                        <div class="ui stackable grid">
                            <h4>房间状态:</h4>
                            <p th:text="${room.Status}">1</p>
                        </div>
                    </div>
                    <div class="ui bottom attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a th:href="@{/room/list(page_num=${page_num}-1)}" class="ui teal basic button">上一页</a>
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/room/list(page_num=${page_num}+1)}"
                                   class="ui teal basic button">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</body>
</html>