<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div class="ui teal segment">
        <div class="ui stackable grid">
            <h4>房间号:</h4>
            <p>101</p>
        </div>
        <div class="ui stackable grid">
            <h4>房间类型:</h4>
            <p>单人房</p>
        </div>
        <div class="ui stackable grid">
            <h4>房间价格:</h4>
            <p>100.0</p>
        </div>
        <div class="ui stackable grid">
            <h4>房间状态:</h4>
            <p>空闲</p>
        </div>
    </div>
    <div class="ui teal segment">
        <div class="ui stackable grid">
            <h4>房间号:</h4>
            <p>102</p>
        </div>
        <div class="ui stackable grid">
            <h4>房间类型:</h4>
            <p>双人房</p>
        </div>
        <div class="ui stackable grid">
            <h4>房间价格:</h4>
            <p>205.5</p>
        </div>
        <div class="ui stackable grid">
            <h4>房间状态:</h4>
            <p>空闲</p>
        </div>
    </div>
    <div class="ui teal segment">
        <div class="ui stackable grid">
            <h4>房间号:</h4>
            <p>203</p>
        </div>
        <div class="ui stackable grid">
            <h4>房间类型:</h4>
            <p>豪华双人房</p>
        </div>
        <div class="ui stackable grid">
            <h4>房间价格:</h4>
            <p>499.99</p>
        </div>
        <div class="ui stackable grid">
            <h4>房间状态:</h4>
            <p>空闲</p>
        </div>
    </div>
</head>

<body>

</body>

</html>