<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework.hotel.mapper.RoomTypeMapper">
    <resultMap id="room_type_map" type="com.homework.hotel.bean.RoomType">
        <id property="ID" column="id"/>
        <result property="TypeName" column="type_name"/>
    </resultMap>

    <insert id="Insert">
        INSERT INTO room_type(type_name)
        VALUES (#{TypeName})
    </insert>

    <select id="ListAllRoomTypes" resultMap="room_type_map">
        SELECT *
        FROM room_type
    </select>

</mapper>