<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework.hotel.mapper.RoomMapper">
    <resultMap id="room_map" type="com.homework.hotel.bean.Room">
        <id property="ID" column="id"/>
        <result property="RoomName" column="name"/>
        <result property="Type" column="type"/>
        <result property="Price" column="price"/>
        <result property="Status" column="status"/>
    </resultMap>

    <insert id="Insert">
        INSERT INTO room(name, type, price, status)
        VALUES (#{RoomName}, #{Type}, #{Price}, #{Status})
    </insert>

    <select id="SelectByID" parameterType="int" resultMap="room_map">
        SELECT *
        FROM room
        WHERE id = #{ID}
    </select>


    <select id="ListEmptyRooms" resultMap="room_map">
        SELECT *
        FROM room
        WHERE status = '空闲'
    </select>

    <select id="ListAllRooms" resultMap="room_map">
        SELECT *
        FROM room
    </select>

    <select id="ListUsedRooms" resultMap="room_map">
        SELECT *
        FROM room
        WHERE status != '空闲'
    </select>

    <select id="SelectByCount" resultType="Integer">
        SELECT COUNT(*)
        FROM room
    </select>

    <select id="UpdateStatusEmpty" parameterType="int">
        UPDATE room
        SET status='空闲'
        WHERE ID = #{param1}
    </select>

    <select id="UpdateStatusBusy" parameterType="int">
        UPDATE room
        SET status='使用中'
        WHERE ID = #{param1}
    </select>

    <select id="UpdateStatusBooked" parameterType="int">
        UPDATE room
        SET status='已被预订'
        WHERE ID = #{param1}
    </select>
</mapper>